@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(202, 86%, 94%);
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Plus Jakarta Sans", sans-serif;
}

.calculation-container {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    width: 60%;
}

.calculator {
    width: 50%;
    margin: 0 2.5rem;
}

h2 {
    color: hsl(202, 55%, 16%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
}

label {
    font-size: .6em;
    color: hsl(200, 24%, 40%);
    margin: 0 .3rem 0 .3rem;
}

.clear {
    font-weight: lighter;
    font-size: .5em;
    text-decoration: underline;
    color: hsl(200, 24%, 40%);
}

.input-group {
    display: flex;
    align-items: center;
    border: 1px solid hsl(200, 24%, 40%);
    border-radius: 5px;
    margin: .2rem .2rem 0.2rem;
}

.flex {
    display: flex;
    align-items: center;
}

#amount,
#term,
#interest {
    border: none;
    margin: .5em;
    width: 100%;
}

.amount,
.term,
.interest {
    padding: 8px;
    background-color: hsl(202, 86%, 94%);
    color: hsl(200, 24%, 40%);
}

#amount,
#term,
#interest:focus {
    outline: none;
    color: hsl(202, 55%, 16%);

}

#amount {
    font-size: .8em;
    font-weight: bold;
}

#amount-error,
#term-error,
#interest-error {
    color: red;
    font-size: 11px;
}

h5 {
    margin-top: 1rem;
    margin-bottom: .3rem;
    font-weight: lighter;
    font-size: .6em;
}

.radio-option {
    display: flex;
    align-items: center;
    border: 1px solid hsl(200, 24%, 40%);
    padding: .6rem;
    margin: .4rem 0 .4rem 0;
    border-radius: 5px;
}


.repayment,
.interest-only {
    cursor: pointer;
    margin-right: 1rem;
}

.repayment-label,
.interest-label {
    font-size: .8em;
    font-weight: bold;
}




.results {
    width: 50%;
    margin: 0 2.5rem;
}



.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 1.5rem;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}